.containerInput{
  right: 0;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 25px;

}
.containerInput input{
  width:50%;
}
.containerInput button{
  margin:2px;
}

.button-upload{
  margin: 6px;
}

.logo{
  display: flex;
  flex-wrap:wrap;
}

.logo h3{
  margin-left: 10px;
}

.obrasoci{
  width:3rem;
}

.tr:hover{
  opacity: 0.9;
}